.git
.github
.gitignore
.dockerignore
.vscode
.env
__pycache__
*.pyc
*.pyo
*.pyd
.db
database/*.sql
backend/tests
frontend/tests
*.log
docs
sonar-project.properties
docker-compose.yml
Dockerfile
README.md
